<!-- src/components/Hello.vue -->
<template>
    <div id='clock-body'>
        <div class="days">
            <div class="day">
                <p class="monday">MON</p>
            </div>
            <div class="day">
                <p class="tuesday">TUE</p>
            </div>
            <div class="day">
                <p class="wednesday">WED</p>
            </div>
            <div class="day">
                <p class="thursday">THU</p>
            </div>
            <div class="day">
                <p class="friday">FRI</p>
            </div>
            <div class="day">
                <p class="saturday">SAT</p>
            </div>
            <div class="day">
                <p class="sunday">SUN</p>
            </div>
        </div>
        <div class="clock">
            <!-- HOUR -->
            <div class="numbers">
                <p class="hours"> {{ hours }} </p>
                <p class="placeholder">88</p>
            </div>
            <div class="colon">
                <p>:</p>
            </div>
            <!-- MINUTE -->
            <div class="numbers">
                <p class="minutes"> {{ minutes }} </p>
                <p class="placeholder">88</p>
            </div>
            <div class="colon">
                <p>:</p>
            </div>
            <!-- SECOND -->
            <div class="numbers">
                <p class="seconds"> {{ seconds }} </p>
                <p class="placeholder">88</p>
            </div>
            <!-- AM / PM -->
            <div class="am-pm">
                <!-- AM -->
                <div>
                    <p class="am">am</p>
                </div>
                <!-- PM -->
                <div>
                    <p class="pm">pm</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="js">
    export default {
        name: 'Home',
	data: function() {
	      return { hours:"00", minutes: "00", seconds: "00" }
	},
        mounted: function () {
            this.tick();
            this.ampm();
            this.whatDay();
            setInterval(function () {
                this.tick();
                this.ampm();
                this.whatDay();
            }, 1000);
        },
        methods: {
            //gets current time and changes html to reflect it
            tick: function() {
                var date = new Date(),
                    hours = date.getHours(),
                    minutes = date.getMinutes(),
                    seconds = date.getSeconds();

                //make clock a 12 hour clock instead of 24 hour clock
                hours = (hours > 12) ? (hours - 12) : hours;
                hours = (hours === 0) ? 12 : hours;

                //invokes function to make sure number has at least two digits
                let formatted_hours = this.addZero(hours);
                let formatted_minutes = this.addZero(minutes);
                let formatted_seconds = this.addZero(seconds);

                //changes the html to match results
                // document.getElementsByClassName('hours')[0].innerHTML = formatted_hours;
                // document.getElementsByClassName('minutes')[0].innerHTML = formatted_minutes;
                // document.getElementsByClassName('seconds')[0].innerHTML = formatted_seconds;
		this.hours = formatted_hours;
		this.minutes = formatted_minutes;
		this.seconds = formatted_seconds;
            },

            //turns single digit numbers to two digit numbers by placing a zero in front
            addZero(val) {
                let str_val = val.toString();
                return (val <= 9) ? ("0" + str_val) : str_val;
            },

            //lights up either am or pm on clock
            ampm() {
                var date = new Date(),
                    hours = date.getHours(),
                    am = document.getElementsByClassName("am")[0].classList,
                    pm = document.getElementsByClassName("pm")[0].classList;


                (hours >= 12) ? pm.add("light-on"): am.add("light-on");
                (hours >= 12) ? am.remove("light-on"): pm.remove("light-on");
            },

            //lights up what day of the week it is
            whatDay() {
                var date = new Date(),
                    currentDay = date.getDay().toString(),
                    days = document.getElementsByClassName("day");

                //iterates through all divs with a class of "day"
                for (let x in days) {
                    //list of classes in current div
                    var classArr = days[x].classList;

                    (classArr !== undefined) && ((x == currentDay) ? classArr.add("light-on") : classArr.remove(
                        "light-on"));
                }
            }
        }

    }
</script>
<style>
    #clock-body {
        position: relative;
        top: 10%;

        width: 600px;
        height: 400px;

        display: block;
        vertical-align: middle;


        margin: auto;

        text-align: center;

        color: #ffffff;
        background-color: #000000;
        font-family: 'digital-7', sans-serif;
    }
    /* DAYS OF THE WEEK */

    div.days {
        margin: 0 auto;
        color: #131212;
    }

    div.days .day {
        display: inline-block;
    }

    div.days .day p {
        font-size: 30pt;
        font-weight: bold;
        font-family: 'digital-7', sans-serif;
        text-transform: uppercase;
    }
    /* CLOCK */

    div.clock {
        margin: 5px 0;
    }

    div.clock div {
        display: inline-block;
        position: relative;
    }

    div.clock div p {
        font-size: 100px;
        position: relative;
        z-index: 100;
    }

    div.clock .placeholder {
        color: #131212;
        position: absolute;
        top: 0;
        z-index: 50;
    }

    div.clock .meridian {
        margin-left: 15px;
    }
    /*END CLOCK*/
    /* AM OR PM*/

    .am-pm {
        font-family: sans-serif;
        text-transform: uppercase;
        width: 20px;
    }

    div.am-pm div p {
        font-size: 12px;
        font-weight: bold;
        width: 100%;
    }

    .am,
    .pm {
        color: #131212;
    }
    /*CLASS THAT CHANGES COLOR OF TEXT TO APPEAR LIKE ITS "ON"*/

    .light-on {
        color: #ffffff;
    }
</style>