<!-- src/components/Status.vue -->
<template>
<div id='status'>
    <p> Temparature : {{ temperature }} C </p>
    <p> Humidity : {{ humidity }} % </p>
</div>
</template>

<script lang="js">

import APICall from '../common/APICall'

export default {
    name: 'Status',
    data() {
        return {
            temperature: "0",
	    humidity: "0"
        }
    },

    mounted: function() {
        this.update_status();
        setInterval(this.update_status.bind(this), 5000);
    },

    methods: {
        update_status() {
            var self = this;
            APICall.get('/api/status')
                .then((result) => self.setProperty(result.data.temperature, result.data.humidity)  )
        },

        setProperty(temperature, humidity) {
            this.temperature = temperature;
            this.humidity = humidity;
        }
    }
}
</script>

<style>
#status {
        position: relative;
        top: 10%;

        width: 600px;
        height: 400px;

        display: block;
        vertical-align: middle;


        margin: auto;

        text-align: center;

        color: #ffffff;
        background-color: #000000;
        font-family: 'digital-7', sans-serif;
        font-size: 30pt;
}
</style>
