<!-- src/components/Hello.vue -->
<template>
    <div id="body">
        <div id="content">
            <div id="view">
                <template v-if="state === 'clock'">
                    <Home />
                </template>
                <template v-else-if="state === 'status'">
                    <Status />
                </template>
            </div>
        </div>
    </div>
</template>

<script lang="js">
    import Vue from "vue";

    import Home from './entries/Home.vue';
    import Status from './entries/Status.vue';

    import APICall from './common/APICall';

    export default {
        name: 'App',
        data() {
            return { state: 'clock' }
        },

        components: {
            Home,
            Status
        },

        mounted: function () {
            this.api_call();
            setInterval(this.api_call.bind(this), 2000);
        },

        methods: {
            api_call() {
                var self = this;
                APICall.get(`/api/health_check`)
                    .then((result) => {
                        self.state = result.data.current_state
                        console.log(JSON.stringify(result.data.current_state))
                    })
            }
        }
    }
</script>

<style>
    #content {
        position: fixed;

        width: 100%;
        height: 100%;
    }

    #body {

        position: fixed;

        display: table;

        width: 100%;
        height: 100%;
        float: right;
    }

    #view {
        width: 100%;
        height: 100%;
    }

    .greeting {
        font-size: 20px;
    }
</style>