@font-face {
    font-family: 'digital-7';
    src: local('digital-7'), url('./digital-7.ttf');
}

html{
    height: 100%;
    background-color: #000;
}

body {
    min-height: 100%;
}

#logo {
    float: left;
    display: flex;
    align-items: center;
    font-size: 2em;
    height: 2em;
}

nav {
    float: right;
    height: 2em;
}

#footer {
    text-align: center;
}